Ahmad Almasri

Project 3 
01/27/2023

In [1]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns

In [26]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [4]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [27]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [28]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [7]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [8]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [9]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [10]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1948
1  tt0000002            5.8       264
2  tt0000003            6.5      1774
3  tt0000004            5.6       179
4  tt0000005            6.2      2581

In [11]:
akas.replace({'\\N':np.nan},inplace=True)

Replace "\N" with np.nan

In [29]:
basics.replace({'\\N':np.nan},inplace=True)

Replace "\N" with np.nan

In [13]:
ratings.replace({'\\N':np.nan},inplace=True)

Replace "\N" with np.nan

In [30]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1289380
endYear           9472338
runtimeMinutes    6785632
genres             434348
dtype: int64

In [15]:
ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [16]:
akas.isna().sum()

titleId                   0
ordering                  0
title                     5
region              1878210
language            6485558
types              29293687
attributes         34496230
isOriginalTitle        2109
dtype: int64

In [31]:
basics.dropna(subset=['runtimeMinutes'], inplace=True)

Eliminate movies that are null for runtimeMinutes

In [18]:
basics.dropna(subset=['genres'], inplace=True)

Eliminate movies that are null for genre

In [32]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 1
startYear          154303
endYear           2739042
runtimeMinutes          0
genres              75380
dtype: int64

In [21]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2788625 entries, 0 to 9574256
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 212.8+ MB

In [22]:
basics['startYear'] = basics['startYear'].astype(float)

In [23]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2788625 entries, 0 to 9574256
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       float64
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: float64(1), object(8)
memory usage: 212.8+ MB

In [39]:
basics = basics[basics['startYear'] >= 2000]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,133,Documentary
15178,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,NaN,60,NaN
17928,tt0018190,short,Walking from Munich to Berlin,München-Berlin Wanderung,0,2018.0,NaN,3,Short
33803,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
34617,tt0035235,short,Radio Dynamics,Radio Dynamics,0,2016.0,NaN,4,Short
...,...,...,...,...,...,...,...,...,...
9574207,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary
9574213,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019.0,NaN,43,"Family,Game-Show,Reality-TV"
9574248,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014.0,NaN,11,"Adventure,Animation,Comedy"
9574255,tt9916856,short,The Wind,The Wind,0,2015.0,NaN,27,Short
9574256,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014.0,NaN,10,"Adventure,Animation,Comedy"

keep startYear 2000-2022

In [42]:
is_movie = basics['titleType'].str.contains('movie',case=False)
basics = basics[is_movie]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,133,Documentary
15178,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,NaN,60,NaN
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
...,...,...,...,...,...,...,...,...,...
9574148,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary
9574175,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary
9574180,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015.0,NaN,66,Drama
9574197,tt9916730,movie,6 Gunn,6 Gunn,0,2017.0,NaN,116,NaN
9574207,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary

keep only titleType==Movie

In [110]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

Eliminate movies that include "Documentary"

In [46]:
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
...,...,...,...,...,...,...,...,...
34749979,tt9916852,5,Episódio #3.20,PT,pt,NaN,NaN,0
34749980,tt9916852,6,Episodio #3.20,IT,it,NaN,NaN,0
34749981,tt9916852,7,एपिसोड #3.20,IN,hi,NaN,NaN,0
34749982,tt9916856,1,The Wind,DE,NaN,imdbDisplay,NaN,0
34749983,tt9916856,2,The Wind,NaN,NaN,original,NaN,1

In [49]:
akas  = akas[akas['region'] == 'US']
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
34749511,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0
34749581,tt9916620,1,The Copeland Case,US,NaN,NaN,NaN,0
34749669,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
34749712,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
34749728,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

In [52]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

13082      False
15178      False
34803       True
61116       True
67669       True
           ...
9574148    False
9574175    False
9574180    False
9574197    False
9574207    False
Name: tconst, Length: 277900, dtype: bool

In [53]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
9573611,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019.0,NaN,70,Documentary
9573790,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
9573930,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
9573939,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
9574023,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

Keep only US movies

In [117]:
count_row = basics.shape[0] 
count_row

167559

In [54]:
keepers =ratings['tconst'].isin(akas['titleId'])
keepers

0           True
1           True
2          False
3          False
4           True
           ...
1274329    False
1274330    False
1274331    False
1274332    False
1274333    False
Name: tconst, Length: 1274334, dtype: bool

In [55]:
ratings = ratings[keepers]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1948
1        tt0000002            5.8       264
4        tt0000005            6.2      2581
5        tt0000006            5.1       177
6        tt0000007            5.4       810
...            ...            ...       ...
1274301  tt9916200            8.2       220
1274302  tt9916204            8.2       251
1274309  tt9916348            8.5        17
1274310  tt9916362            6.4      5153
1274314  tt9916428            3.8        14

[486920 rows x 3 columns]

Keep only US movies

In [63]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [64]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [61]:
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [62]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1948
1  tt0000002            5.8       264
2  tt0000005            6.2      2581
3  tt0000006            5.1       177
4  tt0000007            5.4       810

In [65]:
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [66]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0