Ahmad Almasri

Project 3 
01/27/2023

In [3]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns

In [90]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [91]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [92]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [93]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [94]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [95]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [96]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [97]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [98]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1946
1  tt0000002            5.8       263
2  tt0000003            6.5      1773
3  tt0000004            5.6       179
4  tt0000005            6.2      2580

In [99]:
akas.replace({'\\N':np.nan},inplace=True)

Replace "\N" with np.nan

In [100]:
basics.replace({'\\N':np.nan},inplace=True)

Replace "\N" with np.nan

In [101]:
ratings.replace({'\\N':np.nan},inplace=True)

Replace "\N" with np.nan

In [102]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1287580
endYear           9465014
runtimeMinutes    6785225
genres             434207
dtype: int64

In [103]:
ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [104]:
akas.isna().sum()

titleId                   0
ordering                  0
title                     5
region              1877850
language            6482437
types              29261984
attributes         34462531
isOriginalTitle        2109
dtype: int64

In [105]:
basics.dropna(subset=['runtimeMinutes'], inplace=True)

Eliminate movies that are null for runtimeMinutes

In [106]:
basics.dropna(subset=['genres'], inplace=True)

Eliminate movies that are null for genre

In [107]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear          147002
endYear           2658299
runtimeMinutes          0
genres                  0
dtype: int64

In [108]:
basics = basics[basics['startYear'] > '20000-01-01']

keep startYear 2000-2022

In [109]:
is_movie = basics['titleType'].str.contains('Movie',case=False)
basics = basics[is_movie]

keep only titleType==Movie

In [110]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

Eliminate movies that include "Documentary"

In [111]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77964,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [118]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34803      True
61116      True
67669      True
77964      True
86801      True
           ...
9566500    True
9566538    True
9566583    True
9566667    True
9566740    True
Name: tconst, Length: 167559, dtype: bool

In [119]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77964,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9566500,tt9916192,tvMovie,Danielle Darrieux: Il est poli d'être gai!,Danielle Darrieux: Il est poli d'être gai!,0,2019,NaN,53,Biography
9566538,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,NaN,84,Thriller
9566583,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9566667,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9566740,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,NaN,66,Drama

Keep only US movies

In [117]:
count_row = basics.shape[0] 
count_row

167559

In [120]:
keepers_r =ratings['tconst'].isin(akas['titleId'])
keepers_r

0           True
1           True
2           True
3           True
4           True
           ...
1273167     True
1273168     True
1273169    False
1273170    False
1273171    False
Name: tconst, Length: 1273172, dtype: bool

In [122]:
ratings = ratings[keepers_r]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1946
1        tt0000002            5.8       263
2        tt0000003            6.5      1773
3        tt0000004            5.6       179
4        tt0000005            6.2      2580
...            ...            ...       ...
1273154  tt9916460            9.4        18
1273156  tt9916538            8.3         6
1273157  tt9916544            6.9        61
1273167  tt9916730            8.1         9
1273168  tt9916766            7.0        21

[955366 rows x 3 columns]

Keep only US movies